* {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    box-sizing: border-box;
}

body {
    /* background-color: #222222; */
    color: rgb(0, 0, 0);
    font-family: sans-serif, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

/* .clock {
    width: 17rem;
    height: 5rem;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time {
    font-size: 1rem;
    margin: 0;
}

.img-glitch {
    width: 10rem;
    height: 10rem;
    animation: glitch 3.5s infinite steps(1);
    background-image: url('../IMG/Spider-Head\(Sin-Fondo\).png');
    background-size: cover;
}

@keyframes glitch {
    0%, 100%{
        background-image: url('../IMG/Spider-Head\(Sin-Fondo\).png');
        background-size: cover;
        
    }
    92.5%{
        background-image: url('../IMG/glitch-image-1660857999.png');
        background-size: cover;
        opacity: 1;
        
    }
    95% {
        background-image: url('../IMG/glitch-image-1660858003.png');
        background-size: cover;
        opacity: 0;
        
    }
    97.5% {
        background-image: url('../IMG/glitch-image-1660858803.png');
        background-size: cover;
        opacity: 1;
        
    }
}

.drag-drop {
    display: flex;
}

.imagenes {
    border: 2px solid gray;
    margin: 2rem;
    height: 200px;
    width: 800px;
    background-color: #ccc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imagen-1 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-image: url('../IMG/imagen-1.png');
    background-position: 0;
    background-size: contain;
}
.imagen-2 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-image: url('../IMG/imagen-2.png');
    background-position: 0;
    background-size: contain;
}

.imagen-3 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-image: url('../IMG/imagen-3.png');
    background-position: 0;
    background-size: contain;
}

.zona-arrastre {
    width: 200px;
    height: 200px;
    margin: 2rem;
    background-color: #1f1f1f21;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #1f1f1f21;
} */
.contenedor-abeja {
    border: 1px solid black;
    border-radius: 5px;
    width: 120px;
    height: 120px;
    margin: 0.5rem;
}

.abejita {
    /* border: 1px solid black; */
    width: 40px;
    height: 40px;
    background-image: url('../IMG/abejita/0.svg');
    background-repeat: no-repeat;
    background-position: 0;
    background-size: contain;
    animation: movimiento-abejita 1s infinite;
}

@keyframes movimiento-abejita {
    0%, 100% {
        background-image: url('../IMG/abejita/0.svg');
    }
    11.11% {
        background-image: url('../IMG/abejita/1.svg');
    }
    22.22% {
        background-image: url('../IMG/abejita/2.svg');
    }
    33.33% {
        background-image: url('../IMG/abejita/3.svg');
    }
    44.44% {
        background-image: url('../IMG/abejita/4.svg');
    }
    55.55% {
        background-image: url('../IMG/abejita/5.svg');
    }
    66.66% {
        background-image: url('../IMG/abejita/6.svg');
    }
    77.77% {
        background-image: url('../IMG/abejita/7.svg');
    }
    88.88% {
        background-image: url('../IMG/abejita/8.svg');
    }
}

.contenedor-animation {
    background-color: black;
    width: 20rem;
    height: 10rem;
}

.elemento1 {
    background-color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    margin: 15px;
}

.elemento2 {
    background-color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    margin: 15px;
}

.elemento3 {
    background-color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    margin: 15px;
}