* {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    box-sizing: border-box;
}

body {
    background-color: #222222;
    color: rgb(0, 0, 0);;
    font-family: sans-serif, Geneva, Tahoma, sans-serif;
}

.formulario {
    width: 700px;
    height: 700px;
    border: 5px solid #00c61b;
    display: flex;
    margin: 2.5rem auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 20px #999;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    justify-content: space-evenly;
}

.label {
    /* margin: 1.5rem auto; */
    color: white;
    justify-self: start;
}

.contenedor {
    /*  margin: 4rem auto; */
    border: 3px solid #555;
    border-radius: 10px;
    text-align: center;
    justify-self: center;
    align-self: flex-start;
    
}

.nombre {
}

.email {
    
}

.materiaReprobada {
    
}

.enviarDatos {
}