* {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    box-sizing: border-box;
}

body {
    /* background-color: #222222; */
    color: rgb(0, 0, 0);
    font-family: sans-serif, Geneva, Tahoma, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.img-glitch {
    width: 10rem;
    height: 10rem;
    animation: glitch 3.5s infinite steps(1);
    background-image: url('../IMG/Spider-Head\(Sin-Fondo\).png');
    background-size: cover;
}

@keyframes glitch {
    0%, 100%{
        background-image: url('../IMG/Spider-Head\(Sin-Fondo\).png');
        background-size: cover;
        
    }
    92.5%{
        background-image: url('../IMG/glitch-image-1660857999.png');
        background-size: cover;
        opacity: 1;
        
    }
    95% {
        background-image: url('../IMG/glitch-image-1660858003.png');
        background-size: cover;
        opacity: 0;
        
    }
    97.5% {
        background-image: url('../IMG/glitch-image-1660858803.png');
        background-size: cover;
        opacity: 1;
        
    }
}